.App {
  padding: 0;
  margin: 0;
  height: 200vh;
}

.banner ul {
  list-style: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  /* margin-right: 10%; */
}

.banner ul li:last-child{
  /* margin-left: 20%; */
}

.banner h3 {
  /* font-size: 40px; */
  margin: 0;
  background: linear-gradient(45deg, rgba(125, 83, 23, 1), rgba(237, 223, 149, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.banner {
  background-color: #000000;
  position: absolute;
  top: 54px;
  width: 100%;
  height: 54px;
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner-img {
  margin:  0 0 0 50px;
  width: 150px;
  height: 100%;
  background: url('./assets/image/00001.png') -60px -60px;
  background-size: 450px;
  background-repeat: no-repeat;
}

.banner-close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  color: #fff;
  right: 20px;
  top: 20px;
}

.banner-shop-button {
  border-radius: 24px; 
  padding: 14px
}

/**/

.banner2-invis {
  visibility: hidden;
}

.banner2 ul {
  list-style: none;
  font-size: 16px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner2 h2 {
  font-size: 40px;
}

.banner2 h3 {
  font-size: 40px;
  margin: 0;
  background: linear-gradient(45deg, rgba(125, 83, 23, 1), rgba(237, 223, 149, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.banner2 h4 {
  font-size: 16px;
}

/* .banner2 h4:first-child {
  font-size: 26px;
} */

.banner2 {
  overflow: hidden;
  background-color: #000000;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.896);
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-150%);
  animation: ani 1.5s forwards;
  height: 330px;
  min-width: 565px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  padding: 10px;
}

.banner-img2 {
  /* margin:  0 0 0 50px; */
  width: 50%;
  /* height: 100%; */
  background: url('./assets/image/00001.png') -35px -30px;;
  /* background-size: 450px; */
  background-repeat: no-repeat;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  100% {transform: translateY(0);}
}
